.blurDesgin1{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-120% , -20%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: rgb(255,204,51);
    box-shadow: 0 0 30px 5px rgb(255,204,51);
    background: linear-gradient(185deg, rgba(255,204,51,1) 0%, rgba(251,168,50,1) 100%);
}
.blurDesgin2{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(20% , -80%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: rgb(24,90,157);
    box-shadow: 0 0 30px 5px rgb(24,90,157);
    background: linear-gradient(185deg, rgba(24,90,157,1) 0%, rgba(67,206,162,1) 100%);
}
.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}